@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapbCFPrEVIT9d0c-dYA.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Fonts */
  --primary-font: Roboto;
  --secondary-font: Raleway;
}

/**
  |============================
  | Reset start
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  margin: 0;
  padding: 0;
  list: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/**
  |============================
  | Reset end
  |============================
*/

/**
  |============================
  | Base styles
  |============================
*/

body {
  font-family: var(--primary-font), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-slate);
  background-color: var(--color-white);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/**
  |============================
  | Main page 
  |============================
*/

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
}
.logo-link {
  font-family: var(--secondary-font), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris);
  text-decoration: none;
  text-transform: uppercase;
}
.logo-link:hover .logo-link:focus {
  color: var(--color-ocean);
}
.header-logo {
  font-family: var(--secondary-font), sans-serif;

  color: var(--color-navy-blue);
  text-decoration: none;
  text-transform: uppercase;

  margin-right: 75px;
}
.nav-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list-item {
}
.nav-link:hover {
  color: var(--color-ocean);
}
.nav-link:focus {
  color: var(--color-ocean);
}
.header-contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
}

.contacts-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-decoration: none;
  margin-right: 40px;
}
.contacts-link:hover {
  color: var(--color-ocean);
}
.contacts-link:focus {
  color: var(--color-ocean);
}
.hero-section {
  background-color: var(--color-navy-blue);
}
.hero-container {
  width: 1158px;
  height: 600px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-btn {
  display: block;
  padding: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
}
.hero-btn:hover {
  background-color: var(--color-ocean);
}
.hero-btn:focus {
  background-color: var(--color-ocean);
}
.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
}
.portfolio-btn:hover {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.portfolio-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-elements {
  width: 360;
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-elements:nth-child(3n) {
  margin-right: 0;
}

.portfolio-elements:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  padding-bottom: 32px;
}

.superior-section {
}
.superior-list {
  display: flex;
  flex-wrap: nowrap;
  width: 264;
}

.superior-list-item {
  display: block;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.superior-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.portfolio-photo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  padding-bottom: 8px;
}
.superior-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.portfolio-photo-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  padding-bottom: 32px;
}
.hid-section {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.action-section {
}
.action-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.team-section {
  background-color: var(--color-cloud);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  background-color: var(--color-cloud);
}
.team-list {
}
.team-item {
  background-color: var(--color-white);
}
.team-employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  background-color: var(--color-white);
}
.team-job {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.footer {
  background-color: var(--color-navy-blue);
}

.footer-link {
  font-family: var(--secondary-font), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris);
  text-decoration: none;
  text-transform: uppercase;
}
.footer-logo {
  font-family: var(--secondary-font), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-cloud);
  text-decoration: none;
  text-transform: uppercase;
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}
